h1 {
    color: rgb(216, 57, 216);
    background-color: rgb(105, 250, 105);
}

h2 {
    color: rgb(236, 236, 125);
    background-color: rgb(223, 57, 223);
}

h3{
    color: rgb(228, 115, 133); 
    background-color:rgb(250, 250, 111);
}

h4{
    color: rgb(105, 235, 105);
    background-color: rgb(245, 130, 149);
}
a {
    color: rgb(235, 78, 78);
}

.specialp {
    color:yellowgreen
}

a:visited {
    color: rgb(101, 238, 101);
}

a:hover{
    color: rgb(248, 248, 74);
}

.spanstyle {
  color: purple;
}
#divexample {
  background-color: rgb(118, 223, 174);
}